
.driver-group-head {
    margin-bottom: 4px;
}

.driver-group-head.nt {
    margin-top: 16px;
}

.modifyBankData {
    color: black !important;
}

.modifyBankData:link {
    color: black !important;
    text-decoration: none !important;
}

.modifyBankData:visited {
    color: #ff7800 !important;

}

.modifyBankData:hover {
    color: #ff7800 !important;
}

.modifyBankData:active {
    color: #ff7800 !important;
}
